apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    events {}
    http {
        upstream model_backend {
            server model-api-service:8000;
        }
        server {
            listen 80;
            location / {
                proxy_pass http://model_backend;
            }
        }
    }
